*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #d7a800;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 30px;
    color: #004c35;
}
.container{
    width: 940px;
    margin: 0 auto;
}
header img{
    padding-right: 35px;
    padding-top: 10px;
}
header{
    font-family: Fellix,"Open Sans",sans-serif;
    font-weight: bold;
}
main{
    font-family: Fellix,"Open Sans",sans-serif;
    margin-top: 20px;
}
body main h2{
    font-family: Fellix,"Open Sans",sans-serif;
    font-weight: bold;
}
.infoSD{
    color: #004c35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 1051px;
}